.default-table-area .table-responsive .table thead tr th {
    background-color: #43556f;
    color: #FFF;
    font-size: 14px;
}
.btn-primary {
    background-color: #0000C0;
    border-color: #0000C0;
}
.btn-primary:hover {
    background-color: #fd5812;
    border-color: #fd5812;
}
.badge-confirmed {
    background-color: rgba(40, 167, 69, 0.1);
    color: #28a745;
}
.badge-pending {
    background-color: rgba(255, 193, 7, 0.1);
    color: #ffc107;
}
.badge-cancelled {
    background-color: rgba(220, 53, 69, 0.1);
    color: #dc3545;
}

.default-table-area .table-responsive .table thead tr th {
    background-color: #43556f;
    color: #FFF;
}
.btn-primary {
    background-color: #0000C0;
    border-color: #0000C0;
    display: flex; /* Usar flexbox para alinhamento */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    color: white;
    height: 40px;
}
.btn-primary:hover {
    background-color: #6f5cff;
    border-color: #6f5cff;
}
.btn-primary i {
    margin-right: 0.5rem; /* Substitui me-2 para consistência */
    line-height: 1; /* Garante que o ícone não tenha altura extra */
}
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}
.badge-confirmed {
    background-color: rgba(40, 167, 69, 0.1);
    color: #28a745;
}
.badge-pending {
    background-color: rgba(255, 193, 7, 0.1);
    color: #ffc107;
}
.badge-cancelled {
    background-color: rgba(220, 53, 69, 0.1);
    color: #dc3545;
}
.form-control.is-invalid, .form-select.is-invalid {
    border-color: #dc3545;
}
.invalid-feedback {
    display: none;
    color: #dc3545;
}
.form-control.is-invalid ~ .invalid-feedback,
.form-select.is-invalid ~ .invalid-feedback {
    display: block;
}

select{
    height: 49px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 44px !important;
}

.swal2-icon .placeholder
{
    background-color: white !important;
}